---
import logoSrc from "../assets/logo.jpeg";
---

<header>
  <div class="header-inner">
    <a href="/armillary-blog/" class="header-brand" style="text-decoration: none;">
      <img src={logoSrc} alt="ARMILLARY" class="header-logo" width="40" height="40" />
      <div>
        <div class="header-title">ARM<span>ILLARY</span></div>
        <div class="header-subtitle">Geospatial Analysis · Data Science · GIS</div>
      </div>
    </a>
    <nav class="header-nav">
      <a href="/armillary-blog/">Inicio</a>
      <a href="https://github.com/faustoaguanor" target="_blank" rel="noopener">GitHub</a>
    </nav>
  </div>
</header>
