---
import logoSrc from "../assets/logo.jpeg";
---

<header class="site-header">
  <div class="site-header-inner">
    <a href="/armillary-blog/" class="site-brand">
      <img src={logoSrc.src} alt="ARMILLARY" class="site-logo" width="36" height="36" />
      <div>
        <div class="site-name">ARMILLARY</div>
        <div class="site-tagline">Geospatial · Data Science · GIS</div>
      </div>
    </a>
    <nav class="site-nav">
      <a href="/armillary-blog/">Blog</a>
      <a href="https://github.com/faustoaguanor" target="_blank" rel="noopener">GitHub</a>
    </nav>
  </div>
</header>